[run]
branch = True
source = codecov

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if .debug:
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    */home/travis/virtualenv/python3.6.3/lib/python3.6/site-packages/*
    venv/*
    app/api/database/tables.py*
    app/api/database/db_config.py*
    app/api/tests/test_parcels.py
    app/api/tests/test_users.py
    setup.py
