body{
    overflow-y: scroll;
}
  .container3{
    display: flex;
    flex-direction:column;
    overflow: hidden;
    width:auto;
    height: 100%;
    padding-left:2%;
    padding-right:2%;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin:0% 0% 0% 0%;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    background-color: white;
    max-height: 0;
    /* overflow: scroll; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.panel > div{
    border-style: double;
    /* padding: 0.05%; */
    width: 100%;
    margin: 0.1%;
}

.panel > div > h4{
    font-weight: 100;
}

.panel > div > h4 > span{
    font-weight: bold;
    margin: 0% 10% 0% 3%;
}

.panel > div > h3{
    font-weight: bold;
    margin: 0% 10% 0% 3%;
}

.panel > div > input{
    float: right;
    margin: -17% 5% 0% 0%;
    padding: 4%;
}

#top{

    display: flex;
    flex-direction: row;
    width:100%;
}

#top > h2{
    margin:2%;
}

#top > input{
    height:6%;
    margin-top:1.2%;
}

.panel > .left_order{
    position: relative;
    float:left;
    width: 45%;
}

.panel > .right_order{
    position: relative;
    float:right;
    width: 50%;
}

