body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}
.container2{
    display: flex;
    flex-direction:column;
    overflow: hidden;
    width:100%;
    height: 100%;
}

.topbar{

    position: static;
    display: flex;
    flex-direction: row;
    width:100%;
    height: 15%;
    background-color: blue;
}
.topbar > ul{
    display: inline-block;
    width: 100%;
    font-size: 130%;
}

.topbar > ul > li{
    display: block;
    float: left;
    margin-left:2%;
    width:20%;

    /* width:200px; */
    height: 40%;
    padding: 1%;
    text-align: center;
}

.topbar > ul > li > a{
    color:white;
    text-decoration: none;
}

.topbar > ul >li:hover{
    background-color: rgb(77, 75, 75,0.5) 
}


.topbar > ul >.dropdown {
    /* float: left; */
    overflow: hidden;
    color: white;
    cursor: pointer;
}

.dropdown > .dropbtn {
    
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    /* margin-left:-20px; */
}

.dropdown-content {
    display: none;
    position: absolute;
    /* cursor: pointer; */
    margin: 3.2% 0% 0% 0%;
    background-color: blue;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    float: none;
    display: block;
}

.dropdown-content ul li{
    display: block;
    color:white;
    width:200px;;
    margin-left: -40px;
    padding: 12px 16px;
    text-decoration: none;
    list-style-type: none;
}

.dropdown-content ul li a{
    color:white;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #ddd;
}

.show {
    display: block;
}

.topbar > div{
    margin-left:2%;
}

.container > #left{
    background-color:blue;
    height: 100%;
    float:left;
}

.container > #left > img{
    /* margin: 0% 0% 0% 0%; */
    width: 100%;
    height: 100%;
}

.container > #right{
    width:50%;
    height: 100%;
    float:right;
}

.container > #right > #sidebar{
    display: flex;
    flex-direction: column;
    padding:0% 6% 0% 6%;
    /* height:100%; */
    top:0;
}

.container > #right > #sidebar > #image{
    display: flex;
    flex-direction: row;
    margin: 6% 0% 0% 0%;
    /* margin: 0 auto; */
    justify-content:center;
}
.container > #right > #sidebar >  h3{
    margin: 1% 0% 0% 0%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}

.container > #right > #sidebar > form{
    display: flex;
    flex-direction: column;
    margin: 1% 0% 5% 0%;
    padding:4% 10% 0% 10%;
    border-radius:15px;
    background: rgb(77, 75, 75,0.0)
}

.container > #right > #sidebar > form > input{
    margin-bottom:5%;
    padding:4%;
}

#about > #about-s{
    display: inline-block;
}

#about > #about-s >hr{
    position: absolute;
    right:5.2%;
    border:4 solid white;
    width: 15%;
    margin-top:-2.5%;
}

.signin{
    margin:0 auto;
}
/*left*/
.content{
    display: flex;
    flex-direction: row;
    width:100%;
}
.content > .ship{
    float: left;
    width: 100%;
    margin-left: 2%;
}

.content > .ship > form{
    display: flex;
    flex-direction: column;
    width:80%;
    height: 100%;
    padding:2%;
}

.content > .ship > form > select{
    margin: 0% 0% 5% 0%;
    width:100%;
    height: 8%;
    padding: 1% 0% 1% 1%;
}

.content > .ship > form > input{
    margin: 2% 0% 2% 0%;
    padding: 2%;
}

.content > .ship > form > div > select{
    margin: 0% 0% 1% 0%;
    width:50%;
    height: 6%;
    padding: 0% 0% 0% 1%;
}

.content > .ship > form > div{
    display: flex;
    flex-direction: row;
    /* margin: 10% 0% 10% 10%; */
    width:100%;
}

.content >.ship > form > div > input{
    float: left;
    padding: 2%;
    margin: 0% 2% 2% 0%;
    width:50%;
}

/*right*/
.content > .shipto{
    float: right;
    width: 100%;
    margin-left: 2%;
}

.content > .shipto > form{
    display: flex;
    flex-direction: column;
    width:80%;
    height: 100%;
    margin-left: 5%;
    padding:2%;
}

.content > .shipto > form > select{
    margin: 0% 0% 5% 0%;
    width:100%;
    height: 8%;
    padding: 1% 0% 1% 1%;
}

.content > .shipto > form > div > select{
    margin: 0% 0% 1% 0%;
    width:50%;
    height: 6%;
    padding: 0% 0% 0% 1%;
}

/* .content > .ship > form > select > option{
    margin: 1% 0% 1% 0%;
    height: 20%;
    padding: 1% 1% 1% 1%;
} */

.content > .shipto > form > input{
    margin: 2% 0% 2% 0%;
    padding: 2%;
}

.content > .shipto > form > div{
    display: flex;
    flex-direction: row;
    /* margin: 10% 0% 10% 10%; */
    width:100%;
}

.content >.shipto > form > div > input{
    float: left;
    padding: 2%;
    margin: 0% 2% 2% 0%;
    width:50%;
}

#track{
    display: flex;
    flex-direction: row;
    width:100%;
    margin: 2% 0% 0% 0%;
}

#track > h3{
    margin: 1% 0% 0% 2%;
}

#track > input{
    margin-left:1%;
    padding:1%;
    height: 8%;
    /* border-radius: 5px; */
}